<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996011025589-nbsp03vk7tdi0nk40f6c6giibeehc6c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996011025589-nbsp03vk7tdi0nk40f6c6giibeehc6c2</string>
	<key>API_KEY</key>
	<string>AIzaSyBjoBZUv8k4Sm85wWwtgodrKCwmYmb4mG4</string>
	<key>GCM_SENDER_ID</key>
	<string>996011025589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs.abdou.CustomEmailLogin</string>
	<key>PROJECT_ID</key>
	<string>customemaillogin-ed8c1</string>
	<key>STORAGE_BUCKET</key>
	<string>customemaillogin-ed8c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996011025589:ios:6e1ea920cc1e7bcdfb4afc</string>
</dict>
</plist>